{{ ansible_managed | comment }}

[Unit]
Description=rsnapshot backup {{ retain.name }} timer

[Timer]
OnCalendar={{ retain.time }}
Persistent=true
Unit=rsnapshot@{{ retain.name }}.service

[Install]
WantedBy=timers.target
