{{ ansible_managed | comment }}

############################################
#           CONFIG FILE VERSION            #
############################################

config_version	{{ wtd_srv_rsnapshot_conf.config_version | default('1.2') }}

############################################
#         SNAPSHOT ROOT DIRECTORY          #
############################################

snapshot_root	{{ wtd_srv_rsnapshot_conf.snapshot_root | default('/.snapshots/') }}
{% if wtd_srv_rsnapshot_conf.no_create_root is defined %}
no_create_root	{{ wtd_srv_rsnapshot_conf.no_create_root }}
{% endif %}

############################################
#       EXTERNAL PROGRAM DEPENDENCIES      #
############################################

cmd_cp		{{ wtd_srv_rsnapshot_conf.cmd_cp | default('/usr/bin/cp') }}
cmd_rm		{{ wtd_srv_rsnapshot_conf.cmd_rm | default('/usr/bin/rm') }}
cmd_rsync	{{ wtd_srv_rsnapshot_conf.cmd_rsync | default('/usr/bin/rsync') }}
{% if wtd_srv_rsnapshot_conf.cmd_ssh is defined %}
cmd_ssh		{{ wtd_srv_rsnapshot_conf.cmd_ssh }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.cmd_logger is defined %}
cmd_logger	{{ wtd_srv_rsnapshot_conf.cmd_logger }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.cmd_du is defined %}
cmd_du	{{ wtd_srv_rsnapshot_conf.cmd_du }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.cmd_rsnapshot_diff is defined %}
cmd_rsnapshot_diff	{{ wtd_srv_rsnapshot_conf.cmd_rsnapshot_diff }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.preexec_diff is defined %}
cmd_preexec	{{ wtd_srv_rsnapshot_conf.cmd_preexec }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.cmd_postexec is defined %}
cmd_postexec	{{ wtd_srv_rsnapshot_conf.cmd_postexec }}
{% endif %}

{% if wtd_srv_rsnapshot_conf.linux_lvm_cmd_lvcreate is defined %}
linux_lvm_cmd_lvcreate	{{ wtd_srv_rsnapshot_conf.linux_lvm_cmd_lvcreate }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.linux_lvm_cmd_lvremove is defined %}
linux_lvm_cmd_lvremove	{{ wtd_srv_rsnapshot_conf.linux_lvm_cmd_lvremove }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.linux_lvm_cmd_mount is defined %}
linux_lvm_cmd_mount	{{ wtd_srv_rsnapshot_conf.linux_lvm_cmd_mount }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.linux_lvm_cmd_umount is defined %}
linux_lvm_cmd_umount	{{ wtd_srv_rsnapshot_conf.linux_lvm_cmd_umount }}
{% endif %}

############################################
#                 RETAINS                  #
############################################

{% for retain in wtd_srv_rsnapshot_conf.retains %}
retain		{{ retain.name }}	{{ retain.value }}
{% endfor %}

############################################
#              GLOBAL OPTIONS              #
############################################

# Logging

verbose		{{ wtd_srv_rsnapshot_conf.verbose | default('2') }}
loglevel	{{ wtd_srv_rsnapshot_conf.loglevel | default('3') }}
logfile		{{ wtd_srv_rsnapshot_conf.logfile | default ('/var/log/rsnapshot.log') }}

# Lockfile

lockfile	{{ wtd_srv_rsnapshot_conf.lockfile | default ('/var/run/rsnapshot.pid') }}
{% if wtd_srv_rsnapshot_conf.stop_on_stale_lockfile is defined %}
stop_on_stale_lockfile	{{ wtd_srv_rsnapshot_conf.stop_on_stale_lockfile }}
{% endif %}

{% if wtd_srv_rsnapshot_conf.rsync_short_args is defined %}
rsync_short_args	{{ wtd_srv_rsnapshot_conf.rsync_short_args }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.rsync_long_args is defined %}
rsync_long_args	{{ wtd_srv_rsnapshot_conf.rsync_long_args }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.ssh_args is defined %}
ssh_args	{{ wtd_srv_rsnapshot_conf.ssh_args }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.du_args is defined %}
du_args	{{ wtd_srv_rsnapshot_conf.du_args }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.one_fs is defined %}
one_fs	{{ wtd_srv_rsnapshot_conf.one_fs }}
{% endif %}

# Include / Exclude

{% if wtd_srv_rsnapshot_conf.includes is defined %}
{% for include in wtd_srv_rsnapshot_conf.includes %}
include	{{ include }}
{% endfor %}
{% endif %}
{% if wtd_srv_rsnapshot_conf.excludes is defined %}
{% for exclude in wtd_srv_rsnapshot_conf.excludes %}
exclude	{{ exclude }}
{% endfor %}
{% endif %}
{% if wtd_srv_rsnapshot_conf.include_files is defined %}
{% for include_file in wtd_srv_rsnapshot_conf.include_files %}
include_file	{{ include_file }}
{% endfor %}
{% endif %}
{% if wtd_srv_rsnapshot_conf.exclude_files is defined %}
{% for exclude_file in wtd_srv_rsnapshot_conf.exclude_files %}
exclude_file	{{ exclude_file }}
{% endfor %}
{% endif %}

# Behaviour

{% if wtd_srv_rsnapshot_conf.ink_dest is defined %}
link_dest	{{ wtd_srv_rsnapshot_conf.link_dest }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.sync_first is defined %}
sync_first	{{ wtd_srv_rsnapshot_conf.sync_first }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.use_lazy_deletes is defined %}
use_lazy_deletes	{{ wtd_srv_rsnapshot_conf.use_lazy_deletes }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.rsync_numtries is defined %}
rsync_numtries	{{ wtd_srv_rsnapshot_conf.rsync_numtries }}
{% endif %}

# LVM

{% if wtd_srv_rsnapshot_conf.linux_lvm_snapshotsize is defined %}
linux_lvm_snapshotsize	{{ wtd_srv_rsnapshot_conf.linux_lvm_snapshotsize }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.linux_lvm_snapshotname is defined %}
linux_lvm_snapshotname	{{ wtd_srv_rsnapshot_conf.linux_lvm_snapshotname }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.linux_lvm_vgpath is defined %}
linux_lvm_vgpath	{{ wtd_srv_rsnapshot_conf.linux_lvm_vgpath }}
{% endif %}
{% if wtd_srv_rsnapshot_conf.linux_lvm_mountpath is defined %}
linux_lvm_mountpath	{{ wtd_srv_rsnapshot_conf.linux_lvm_mountpath }}
{% endif %}

############################################
#         BACKUP / SCRIPTS  / EXEC         #
############################################

{% for backup in wtd_srv_rsnapshot_conf.backups %}
{% if backup.comment is defined %}
# {{ backup.comment }}
{% endif %}
{% if backup.exec is defined %}
backup_exec	{{ backup.exec }}
{% endif %}
{% if backup.script is defined %}
backup_script	{{ backup.script }}	{{ backup.dest }}
{% endif %}
{% if backup.src is defined %}
backup	{{ backup.src }}		{{ backup.dest }}		{% if backup.options is defined %}{{ backup.options }}{% endif %}

{% endif %}
{% endfor %}
